@{
    ViewBag.Title = "Contact";
}
<br />
<h2>@ViewBag.Title.</h2>


<address>
    Utsorgo Foundation<br />
  
    <abbr title="Phone">Phone:+8801937485130</abbr>
    <br /> Sakhipur,Tangail Sakhipur,Tangail.
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:utsorgofoundation@example.com">utsorgofoundation@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:utsorgofoundation@example.com">utsorgofoundationmarketing@example.com</a>
</address>